version: "3"  # optional since v1.27.0
services:

  nginx_app_protect:
    build: nginx_app_protect
    ports:
      - 80:80
    volumes:
      - ./nginx_app_protect/custom_policy.json:/etc/nginx/custom_policy.json
      - ./nginx_app_protect/custom_log_format.json:/etc/nginx/custom_log_format.json
      - ./nginx_app_protect/nginx.conf:/etc/nginx/nginx.conf

  juice_shop:
    image: bkimminich/juice-shop

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
    environment: 
      - discovery.type=single-node
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data

  logstash:
    image: docker.elastic.co/logstash/logstash:7.11.1
    volumes: 
      - ./elk/logstash/30-waf-logs-full-logstash.conf:/usr/share/logstash/pipeline/30-waf-logs-full-logstash.conf:ro

  kibana:
    image: docker.elastic.co/kibana/kibana:7.11.1
    ports:
      - 5601:5601

  # f5-dashboards:
  #   build: elk/f5-dashboards

volumes:
  elasticsearch: 
    driver: local